<div class="header-mobile header-mobile--simple" aria-hidden="true">
  <a class="logo logo--eurobank" href="https://www.eurobank.gr/" target="_blank">
    <img src="https://www.eurobank.gr/-/media/eurobank/logo/final-logos/logoeurobankgroup-svg.svg?la=el" alt="Eurobank">
  </a>

  <a href="/" class="logo logo--eurolife has-tagline" role="link" aria-label="Eurolife Logo Link to Homepage" title="Logo">
    <img src="https://www.eurolife.gr/-/media/Feature/Identity/Eurolife_logo_left.png?h=218&amp;w=676&amp;hash=B3283B8553A569ED7A3AEB72EC36942F" alt="" width="676" height="218">
  </a>
  <span class="js-menu-switch menu-switch">
    <span class="menu-switch__top"></span>
    <span class="menu-switch__middle"></span>
    <span class="menu-switch__bottom"></span>
  </span>
</div>

<header role="banner">
  <nav class="nav-simple center center--1400" role="navigation" aria-label="Eurolife Main Navigation">

    <a class="logo logo--eurobank" href="https://www.eurobank.gr/" target="_blank">
      <img src="https://www.eurobank.gr/-/media/eurobank/logo/final-logos/logoeurobankgroup-svg.svg?la=el" alt="Eurobank">
    </a>

    <a href="/" class="logo logo--eurolife has-tagline" role="link" aria-label="Eurolife Logo Link to Homepage" title="Logo">
      <img src="https://www.eurolife.gr/-/media/Feature/Identity/Eurolife_logo_left.png?h=218&amp;w=676&amp;hash=B3283B8553A569ED7A3AEB72EC36942F" alt="" width="676" height="218">
    </a>

    @Html.Sitecore().Placeholder("header-top-navbar")  

  </nav>
</header>