@model Sitecore.Mvc.Presentation.RenderingModel

<div class="footer center--1100 center">

  <div class="footer__info footer__info--plain">
    @Html.Sitecore().Placeholder("footer-bottom")
    <a href="https://www.wedia.gr/" class="footer__madeyby" target="_blank">
      Made by <img src="@Url.Content("~/images/wedia-logo.svg")" alt="made by wedia | wedia logo" />
    </a>
  </div>

</div>