@using Wedia.Feature.Glossary
@using Wedia.Foundation.Alerts
@using Wedia.Foundation.Alerts.Extensions
@using Wedia.Foundation.Dictionary.Extensions
@using Wedia.Foundation.SitecoreExtensions.Extensions

@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.DescendsFrom(Templates.GlossaryChoiceGroup.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.GlossaryChoiceGroup.ID),
      AlertTexts.InvalidDataSourceTemplateFriendlyMessage,
      Model.Item?.ID,
      Model.Rendering.Item?.ID)
  return;
}

  <li>
    <input type="checkbox" name="panel" id="panel-@Html.Sitecore().Field(Templates.GlossaryChoiceGroup.ID, new { DisableWebEdit = true })">
    <label for="panel-@Html.Sitecore().Field(Templates.GlossaryChoiceGroup.ID, new { DisableWebEdit = true })">
      @Html.Sitecore().Field(Templates.HasGlossaryTitle.Fields.Title)
      <span class="accordion__state"></span>
    </label>
    <div class="accordion__content">
      <div class="m-b-24">
        @foreach (var glossary in Model.Item.GetMultiListValueItems(Templates.GlossaryChoiceGroup.Fields.Items))
        {
          
          <div class="m-b-8">
            <strong>@Html.Sitecore().Field(Templates.HasGlossaryTitle.Fields.Title, glossary, new { DisableWebEdit = true })</strong>
          </div>

          <p class="m-b-16">@Html.Sitecore().Field(Templates.Glossary.Fields.Gloss, glossary, new { DisableWebEdit = true })</p>
          
        }
      </div>
    </div>
  </li>