@using Wedia.Foundation.Theming.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel

<div class="@RenderingContext.Current.Rendering.GetBackgroundClass()">
  @Html.Sitecore().Placeholder("page-layout-top")
</div>