@using Wedia.Feature.PageContent
@using Wedia.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    //These contains only the url not the experience editor field
    var desktopImage = string.Empty;
    var mobileImage = string.Empty;


    var mediaUrlOptionsDesktop = new Sitecore.Resources.Media.MediaUrlOptions
    {
      Width = 1920,
      Height = 0
    };

    var mediaUrlOptionsMobile = new Sitecore.Resources.Media.MediaUrlOptions
    {
      Width = 500,
      Height = 0
    };      

    if (Html.Sitecore().HasValue(Templates.HasPageImageContent.Fields.DesktopImage.ToString()))
    {
      desktopImage = Model.Item.ImageUrl(Templates.HasPageImageContent.Fields.DesktopImage, mediaUrlOptionsDesktop);
    }   

    if (Html.Sitecore().HasValue(Templates.HasPageImageContent.Fields.MobileImage.ToString()))
    {
      mobileImage = Model.Item.ImageUrl(Templates.HasPageImageContent.Fields.MobileImage, mediaUrlOptionsMobile);
    }
}
<section class="hero hero--inner m-b-112">
  <picture>
    @if (!string.IsNullOrEmpty(desktopImage) || Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <source media="(min-width: 900px)" srcset="@desktopImage">
    }

    @if (!string.IsNullOrEmpty(mobileImage) || Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <source srcset="@mobileImage">
    }

    @if (Sitecore.Context.PageMode.IsExperienceEditor || desktopImage != null)
    {
      @Html.Sitecore().ImageField(Templates.HasPageImageContent.Fields.DesktopImage, Model.Item,
        0,
        1280)    
    }                             
  </picture>   
</section>   