@using Wedia.Foundation.Dictionary.Extensions

<div class="program-controls center center--1100">
    <span class="program-controls__more hidden">
        @Html.Sitecore().Dictionary("/Panel/Product Panel/View More", "View More")
        <span class="icon-down">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" viewBox="0 0 60 60">
                <defs>
                    <path id="a" d="M41.118 32.08L23.029 50.137a2.948 2.948 0 0 1-4.166 0 2.938 2.938 0 0 1 0-4.159l16.005-15.98-16.005-15.978a2.938 2.938 0 0 1 0-4.16 2.95 2.95 0 0 1 4.166 0l18.09 18.06c.574.574.862 1.326.862 2.079a2.93 2.93 0 0 1-.863 2.08z" />
                </defs>
                <use fill="#003B4D" fill-rule="nonzero" transform="rotate(90 29.99 30)" xlink:href="#a" />
            </svg>
        </span>
    </span>
    <span class="program-controls__left js-program-left hidden">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="36" viewBox="0 0 36 36">
            <defs>
                <rect id="a" width="36" height="36" rx="4" />
                <path id="b" d="M10.965 8.554L6.14 13.37a.786.786 0 0 1-1.111 0 .783.783 0 0 1 0-1.109L9.298 8 5.03 3.739a.784.784 0 0 1 0-1.11.786.786 0 0 1 1.111 0l4.824 4.817a.78.78 0 0 1 0 1.108z" />
            </defs>
            <g fill="none" fill-rule="evenodd" opacity=".4">
                <rect width="35" height="35" x=".5" y=".5" stroke="#485294" rx="4" transform="matrix(1 0 0 -1 0 36)" />
                <use fill="#4A5294" fill-rule="nonzero" transform="matrix(-1 0 0 1 25.995 10)" xlink:href="#b" />
            </g>
        </svg>
    </span>
    <span class="program-controls__right js-program-right hidden">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="36" viewBox="0 0 36 36">
            <defs>
                <rect id="a" width="36" height="36" rx="4" />
                <path id="b" d="M10.965 8.554L6.14 13.37a.786.786 0 0 1-1.111 0 .783.783 0 0 1 0-1.109L9.298 8 5.03 3.739a.784.784 0 0 1 0-1.11.786.786 0 0 1 1.111 0l4.824 4.817a.78.78 0 0 1 0 1.108z" />
            </defs>
            <g fill="none" fill-rule="evenodd">
                <rect width="35" height="35" x=".5" y=".5" stroke="#485294" rx="4" transform="matrix(1 0 0 -1 0 36)" />
                <use fill="#4A5294" fill-rule="nonzero" transform="matrix(1 0 0 -1 10 26)" xlink:href="#b" />
            </g>
        </svg>
    </span>
</div>