@using Wedia.Feature.Person
@using Wedia.Foundation.SitecoreExtensions.Extensions
@model IEnumerable<Sitecore.Data.Items.Item>


<section class="leadership center center--1100 m-b-112 m-t-112">     
  @if (Model != null && Model.Any())
  {
    foreach (var item in Model)
    {
      <a class="leadership__member" href="@item.Url()">
        @if (item.DescendsFrom(Templates.HasPersonImage.ID)
           && (item.FieldHasValue(Templates.HasPersonImage.Fields.Image) || Sitecore.Context.PageMode.IsExperienceEditor))
        {
          @Html.Sitecore().ImageField(Templates.HasPersonImage.Fields.Image, item, 720, 520)
        }

        <h2 class="leadership__name">@item.Field(Templates.Person.Fields.Name)</h2>

        @if (item.DescendsFrom(Templates.HasPersonPosition.ID)
        && (item.FieldHasValue(Templates.HasPersonPosition.Fields.Position) //(Html.Sitecore().HasValue(Templates.HasPersonPosition.Fields.Position.ToString()) 
        || Sitecore.Context.PageMode.IsExperienceEditor))
        {
          <h3 class="leadership__position">@item.Field(Templates.HasPersonPosition.Fields.Position)</h3>
        }
      </a>
    }
  }
</section>
