@using Wedia.Foundation.Alerts
@using Wedia.Foundation.Alerts.Extensions
@using Wedia.Foundation.SitecoreExtensions.Extensions
@using Wedia.Feature.Highlight
@model Sitecore.Data.Items.Item
@{
  if (!Model?.DescendsFrom(Templates.HighlightsGroup.ID) ?? true)
  {
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.HighlightsGroup.ID), 
      AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model?.ID, Model?.ID)
      return;
  }

  var guiID = Guid.NewGuid().ToString();
}

<div class="center center--1100">
  <ul class="accordion">
    @foreach (var item in Model.GetMultiListValueItems(Templates.HighlightsGroup.Fields.Highlights).Select((value, i) => new { i, value }))
    {
      <li>
        <input type="checkbox" name="panel" id="panel-@guiID-@item.i">
        <label for="panel-@guiID-@item.i">
          @Html.Sitecore().Field(Templates.HighlightMain.Fields.Title, item.value)
          <span class="accordion__state"></span>
        </label>
        <div class="accordion__content">
          <div class="p-b-16">
            @Html.Sitecore().Field(Templates.HasHightlightRTE.Fields.Content, item.value)
          </div>
        </div>
      </li>
    }

  </ul>
</div>
