@using Wedia.Feature.Blog
@using Wedia.Feature.Blog.Models
@using Wedia.Foundation.Dictionary.Extensions
@using Wedia.Foundation.SitecoreExtensions.Extensions

@model ArticlesList

@{
  var currentItem = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.Item;
}

@if (Model.Articles != null && Model.Articles.Any())
{
<section class="center center--1100 m-b-112 m-t-112">
  <h1 class="h4 t-c m-b-8">
    @Html.Sitecore().Dictionary("/Blog/Article/Related Title")
  </h1>

  <div class="m-b-48 center--650 center t-c">
    @Html.Sitecore().Dictionary("/Blog/Article/Related Subtitle")
  </div>

  <div id="articles-list" class="list-grid">
    @Html.Partial("_PagedListArticles", Model)
  </div>
</section>
}
