@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<nav class="nav-main" role="navigation" aria-label="Eurolife Main Navigation">
  <div class="nav-main__in center center--1700">
    @Html.Sitecore().Placeholder("header-top-navbar")
  </div>  
</nav>