@using Wedia.Feature.Teasers
@using Wedia.Foundation.Alerts
@using Wedia.Foundation.Alerts.Extensions
@using Wedia.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Mvc.Presentation.RenderingModel

@if (!Model?.Item?.DescendsFrom(Templates.HasTeaserHeadline.ID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.HasTeaserHeadline.ID),
        AlertTexts.InvalidDataSourceTemplateFriendlyMessage,
        Model.Item?.ID,
        Model.Rendering.Item?.ID)
  return;
}


<div class="cta-double__item flex-spread__half">
  <label class="cta-double__item__label">@Html.Sitecore().Field(Templates.HasTeaserHeadline.Fields.Title)</label>

  @if (Model.Item.DescendsFrom(Templates.HasTeaserSummary.ID)
    && (Model.Item.FieldHasValue(Templates.HasTeaserSummary.Fields.Summary) || Sitecore.Context.PageMode.IsExperienceEditor))
  {
    <div class="cta-double__item__prompt">
      @Html.Sitecore().Field(Templates.HasTeaserSummary.Fields.Summary)
    </div>
  }

  @if (Model.Item.DescendsFrom(Templates.HasTeaserCTA.ID)
    && (Model.Item.FieldHasValue(Templates.HasTeaserCTA.Fields.CTA) || Sitecore.Context.PageMode.IsExperienceEditor))
  {

    @Html.Sitecore().Field(Templates.HasTeaserCTA.Fields.CTA, new { @class = "cta-double__item__link" })
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" viewBox="0 0 60 60">
      <defs>
        <path id="a" d="M41.118 32.08L23.029 50.137a2.948 2.948 0 0 1-4.166 0 2.938 2.938 0 0 1 0-4.159l16.005-15.98-16.005-15.978a2.938 2.938 0 0 1 0-4.16 2.95 2.95 0 0 1 4.166 0l18.09 18.06c.574.574.862 1.326.862 2.079a2.93 2.93 0 0 1-.863 2.08z" />
      </defs>
      <use fill="#003B4D" fill-rule="nonzero" xlink:href="#a" />
    </svg>
  }

</div>